<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title>Hello, world!</title>
  </head>
  <body>
    <%= User.find_by(id: session[:user_id])&.nickname || 'Not logged in' %>
    <%= link_to 'Users', users_path %> | 
    <%= link_to 'Games', games_path %>
    <%= link_to 'Win Conditions', win_conditions_path %>
    <%= link_to 'Assign Win Conditions', win_condition_associations_path %>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
